* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing:border-box;
}

body {
  font-family: 'Nerko One';
  background: #333;
  color: #fff;
  line-height: 1.6;
  height: 100%;
  overflow: hidden;
  /* Full height */
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;

  /* CSS Smooth Scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0,0,0,0.7);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.navbar ul li a:hover {
  color: skyblue;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}

section h1 {
  font-family: bignoodletitling;
  font-size: 4rem;
}

section p {
  font-size: 1.5rem;
}

/* Section background imgs */
section#home {
  background: url("../images/burnout_background.gif") no-repeat center center/cover
}
section#motorcycles {
  background-color: black;
  /* background: url("../images/orangemotorcycle.jpg") no-repeat center center/cover; */
}
section#mods {
  background-color: rgb(0, 0, 0);
  /* background: url("../images/scheduling.svg") no-repeat center center/cover; */
}
section#lookbook {
  background-color: lightgreen;
  /* background: url("../images/lookbook.jpg") no-repeat center center/cover; */
}
section#my-appointments {
  background-color: black;
  /* background: url("../images/about_section.png") no-repeat center center/cover; */
}
section#about {
  background-color: red;
  /* background: url("../images/about_section.png") no-repeat center center/cover; */
}

div#motorcycle-div {
  width: 1700px;
  overflow: scroll;
  height: 80%;
  scroll-snap-type: y mandatory;
}

img.img-bikes {
  height: 100%;
  width: 100%;
  scroll-snap-align: center;
}


/* APPOINTMENT FORM */
form#appointment-form {
  height: 57rem;
  width: 80rem;
}

label {
  font-size: 25px;
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

input[type=text] {
  padding: 10px;
  margin:10px 0;
  border:0;
  box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius:10px;
  width: 100%;
}

textarea {
  width: 100%;
  resize: vertical;
  padding: 15px;
  border-radius: 15px;
  border: 0;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.06);
  height: 500px;
}

button#submit-btn {
  /* remove default behavior */
  appearance:none;
  -webkit-appearance:none;

  padding: 10px;
  border: none;
  background-color:#21be43;
  color:#fff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  width: 50%;
}
button#submit-btn2 {
  /* remove default behavior */
  appearance:none;
  -webkit-appearance:none;

  padding: 10px;
  border: none;
  background-color:#21be43;
  color:#fff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  width: 50%;
  margin-top: 10px;
  margin-left: 100px;
}
button#update-appt {
  /* remove default behavior */
  appearance:none;
  -webkit-appearance:none;

  padding: 10px;
  border: none;
  background-color:#21be43;
  color:#fff;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  width: 50%;
  margin-top: 15px;
}

/************* MODAL MENUS**************/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 30rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: red;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.modal-text {
  color: black;
}

.modal-label {
  font-family: bignoodletitling;
  color: black;
}